<div>
    <header><h1>Coopers</h1></header>
    <h2>Hello, my name is <strong>{{name}}</strong></h2>
    <p> {{message}}</p>
    <br>
    <p>Contact: {{phone}}</p>
    <br>
    <footer>all rights reserved hirokz7</footer>
</div>